/* background */

body {
  background-image: url("background.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: black;
}

/* bar */
.bar-container {
  width: 200px;
  height: 30px;
  margin: 40px;
  margin-left: 0;
  background-color: lightblue;
  float: right;
}

.bar {
  background-color: darkblue;
  height: 100%;
  width: 0%;
}

.barContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 70px;
}

.barButton {
  height: 30px;
  font-family: "Allerta Stencil", sans-serif;
  font-size: large;
  color: lightblue;
  background-color: darkblue;
  border: 0;
}

/* heart */
.heartContainer {
  position: relative;
}

.heart-symbol {
  margin: 20px;
  width: 200px;
  height: 200px;
  /* float: left; */

  position: absolute;
  top: 40px;
  left: 40px;
}

.heartButton {
  height: 30px;
  font-family: "Allerta Stencil", sans-serif;
  font-size: large;
  color: darkred;
  background-color: rgb(250, 51, 51);
  border: 0;

  position: absolute;
  top: 140px;
  left: 128px;
}

/* tamno plava */
/* color: 095994; */

/* svijetlo crvena
color: ff6312

tamno crvena
color: 4e0204 */
